*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.heading{
    text-align: center;
    font-weight: bold;
    padding: 1em 1em 1em 1em;
}
.copyright{
    text-align: center;
    padding: 1em 1em 1em 1em;
}
